# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
client/node_modules/
server/node_modules/

# Production build
client/build/
client/dist/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dotenv environment variables
.env
.env.* 

# OS and Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Testing coverage reports
coverage/

# Optional cache files
.cache/
.next/
out/
*.tgz

# Local config files
*.local

# Misc
*.swp
