# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
client/node_modules/
server/node_modules/

# Production build
client/build/
client/dist/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dotenv environment variables
.env
.env.* 

# OS and Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Testing coverage reports
coverage/

# Optional cache files
.cache/
.next/
out/
*.tgz

# Local config files
*.local

# Misc
*.swp


# Ignore the plans folder
_plans/

# Ignore specific project files
Campus_Hustle_Launch_Plan.txt
Color_Palette_Guide.txt
ResetPassword.jsx
admin_roles.txt
building_plan.txt
connecting_frontend_and_backend.txt
finance_plan.txt
list_structure.py
list_structure.txt
